# Dependencies
/node_modules

# Astro
/.astro

# Production
/build
/dist

# Environment variables
.env
.env.*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock

# Log files
logs
*.log

# TypeScript
*.tsbuildinfo
*.d.ts