---
import Main from '@/layouts/Main.astro';

import Cta from '@/components/Cta.astro';
import Featured from '@/components/Featured.astro';
import Links from '@/components/Links.astro';
import Profile from '@/components/Profile.astro';
---

<Main>
  <Profile />
  <Links />
  <Featured />
  <Cta />
</Main>
