---
import Footer from '@/components/Footer.astro';
import ThemeManager from '@/components/ThemeManager.astro';
import ThemeSelector from '@/components/ThemeSelector.astro';

import '@/styles/globals.css';

import robotoFlex from '@fontsource-variable/roboto-flex/files/roboto-flex-latin-wght-normal.woff2?url';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="preload" as="font" type="font/woff2" href={robotoFlex} crossorigin="anonymous" />
    <ThemeManager defaultTheme="system" />
  </head>
  <body>
    <div id="container" class="mx-auto w-full max-w-lg">
      <slot />
      <ThemeSelector />
      <Footer />
    </div>
  </body>
</html>
