---
import type { MetadataProps } from '@/types/metadata.ts';

import Footer from '@/components/Footer.astro';
import Metadata from '@/components/Metadata.astro';
import ThemeManager from '@/components/ThemeManager.astro';
import ThemeSelector from '@/components/ThemeSelector.astro';

import '@/styles/globals.css';

import robotoFlex from '@fontsource-variable/roboto-flex/files/roboto-flex-latin-wght-normal.woff2?url';

export interface Props {
  metadata?: MetadataProps;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <Metadata {...metadata} />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="LinkBio" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta content="#f8f8f8" name="theme-color" media="(prefers-color-scheme: light)" />
    <meta content="#121212" name="theme-color" media="(prefers-color-scheme: dark)" />

    <link rel="preload" as="font" type="font/woff2" href={robotoFlex} crossorigin="anonymous" />

    <ThemeManager defaultTheme="system" />
  </head>
  <body>
    <div id="container" class="mx-auto w-full max-w-lg">
      <slot />
      <ThemeSelector />
      <Footer />
    </div>
  </body>
</html>
