---
import { cn } from '@/lib/utils.ts';

interface Props {
  className?: string;
  label: string;
}

const { className, label } = Astro.props;
---

<div class={cn('rounded-radius px-2 py-1 text-xs font-medium uppercase shadow-sm', className)}>
  ● {label}
</div>
