---
import { cn } from '@/lib/utils.ts';

interface Props {
  className?: string;
  title?: string;
}

const { className, title } = Astro.props;
---

<div
  class={cn(
    'mb-10 w-full rounded-radius bg-background-card px-6 pt-5 pb-6 shadow-shadow',
    className,
  )}
>
  {
    title && (
      <div class="mb-3 flex items-center text-base font-semibold text-text-primary uppercase">
        {title}
        <span class="ml-3 h-0.5 flex-grow bg-border" />
      </div>
    )
  }
  <slot />
</div>
