---
import { cn } from '@/lib/utils';

interface Props {
  className?: string;
  label: string;
  value: string | number;
}

const { className, label, value } = Astro.props;
---

<div
  class={cn(
    'flex-1 cursor-pointer rounded-radius bg-background-tile p-3 text-center transition-transform hover:bg-background-hover',
    className,
  )}
>
  <p class="stat-value text-lg font-semibold transition-all">{value}</p>
  <p class="mt-1 text-sm text-text-secondary">{label}</p>
</div>
