---
import { cn } from '@/lib/utils.ts';

interface Props {
  className?: string;
  label: string;
  value: string | number;
}

const { className, label, value } = Astro.props;
---

<div
  class={cn(
    'flex-1 rounded-radius bg-background-tile p-3 text-center transition-colors duration-300 hover:bg-background-hover',
    className,
  )}
>
  <span class="stat-value block text-lg font-semibold transition-all">{value}</span>
  <span class="mt-1 block text-sm text-text-secondary">{label}</span>
</div>
