---
import { cn } from '@/lib/utils.ts';

interface Props {
  className?: string;
  href: string;
  imageSrc: string;
  label: string;
  alt: string;
}

const { className, href, imageSrc, label, alt } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={cn(
    'relative inline-flex flex-col items-center justify-center gap-1 transition-transform duration-300 hover:scale-105',
    className,
  )}
>
  <div class="size-20 rounded-full bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500 p-1">
    <div class="size-full rounded-full bg-background p-1">
      <img src={imageSrc} alt={alt} class="size-full rounded-full object-cover shadow-md" />
    </div>
  </div>
  <span class="text-sm">{label}</span>
</a>
